
body {
  font-family: "AppleSDGothicNeo-Medium",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #191919;
}

.notice {
  font-size: 8pt;
  color: #888888;
}
